.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white-two);
}

.menu-top {
  padding: 20px;
}

.menu-close {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.menu-list {
  padding: 0;
  margin-top: 150px;
  list-style: none;
  text-align: center;
}

.menu-item {
  margin: 1rem 0;
  font-size: 20pt;
  font-weight: 500;
  text-transform: uppercase;
}

.menu-item a {
  color: var(--menu-item);
}

.menu-item-active a {
  color: var(--apple-green);
}