.jogs-card-wrap {
  margin: 50px auto;
  cursor: pointer;
}

.jogs-card-date {
  color: var(--text-secondary);
  margin: 0 0 .2rem 0;
}

.jogs-card-text {
  margin: 0;
  color: var(--text-secondary);
  font-weight: 500;
}

.jogs-card-text span {
  color: #000;
}

@media only screen and (max-width: 620px) {
  .jogs-card {
    border-bottom: 1px solid #ccc;
  }
}