.btn {
  padding: 10px 20px;
  cursor: pointer;
  color: var(--white-two);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-radius: 36px;
  border: 2px solid var(--white-two);
  letter-spacing: 1px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.096);
}

.btn:active {
  background: rgba(255, 255, 255, 0.363);
}

@media only screen and (max-width: 620px) {
  .btn:hover {
    background: rgba(221, 221, 221, 0.479);
  }

  .btn:active {
    background: rgba(194, 194, 194, 0.658);
  }

}