.add-form-backdrop {
  position: absolute;
  padding: 0 2rem;
  top: 111px;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white-two);
}

.add-form {
  max-width: 500px;
  position: relative;
  margin: 15vh auto;
  border-radius: 45px;
  background-color: var(--apple-green);
}

.form-field-wrap {
  margin: 50px auto 40px auto;
}

.form-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .form-field-wrap {
    padding: 0 2rem;
  }

  .add-form {
    margin: 12vh auto;
  }

  .form-close {
    width: 18px;
    height: 18px;
  }
}