.filter-bar {
  background-color: var(--white);
  text-align: center;
}
.filter-bar-form {
  padding: 1rem;
}

.filter-bar-label {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
  
}

.filter-bar-input {
  margin-left: 1rem;
  padding: .3rem;
  color: var(--text-secondary);
  font-size: 18px;
  border-radius: 1rem;
  border: 1px solid var(--text-secondary);
  outline: none;
}