.navbar {
  padding: 25px;
  background-color: var(--apple-green);
}

.nav-list {
  margin: 0;
  list-style: none;
}

.nav-item {
  margin: 1rem;
  padding: .2rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.nav-item a {
  text-decoration: none;
  color: var(--white-two);
}

.nav-icons {
  margin-left: 1.5rem;
  width: 35px;
  cursor: pointer;
}

.active {
  border-color: var(--white-two);
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .navbar {
    padding: 20px;
  }

  .logo img {
    width: 98px;
    height: 37px;
  }

  .mobile-menu-icon {
    display: block;
  }

  .nav-item {
    display: none;
  }

  .nav-icons {
    margin-right: 1.5rem;
  }
}