body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --apple-green: #7ed321;
  --baby-purple: #e990f9;
  --white: #eaeaea;
  --white-two: #fff;
  --text-secondary: #767676;
  --menu-item: #464347;
}

body::-webkit-scrollbar {
  display: none !important;
}

* a {
  text-decoration: none;
}

.f-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-center {
  display: block;
  margin: 0 auto;
}
.t-center {
  margin-top: 50px;
  text-align: center;
}

.spacer {
  margin: 1rem;
}

.page-enter {
  animation: file-enter .5s;
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}